
<form div ="conteneur">

<h2>S'inscire</h2>


<br>

<form div = "form-group" >
    
    <form [formGroup]="UsersregisterComponent">

        <label for="firstName">Nom</label> <br>
            <input type="text" id="firstName" formControlName="firstName" >
        <br>
        <br>
            <label for="LastName">Prénom</label>
                <input type="text" id="LastName" formControlName="LastName" >
        <br>
        <br>
                <label for="BirthDate">Date De Naissance</label>
                    <input type="int" id="BirthDate"FormControl="BirthDate" >


</form>
