
    <!--
    <div class="logo">
      <img src="#" alt="Forest" width="600" height="400">
      </div>
  -->

  
    <div class="navbarhome">

    <a class="pi pi-home" routerLink="home"></a><br>
  
  
     
    <div class="menu-deroulant">
      <span>Homme</span>
      <div>

        <a routerLink="veste-homme">veste</a>
        <a routerLink="pull-homme">pull</a>
        <a routerLink="chemise-homme">chemise</a>
        <a routerLink="tee-shirt-homme">tee-shirt</a>
        <a routerLink="pantalon-homme">pantalon</a>
      </div>
    </div>
    
   <div class="menu-deroulant">
      <span>Femme</span>
      <div>
        <a routerLink="veste-femme">veste</a>
        <a routerLink="pull-femme">pull</a>
        <a routerLink="chemise-femme">chemise</a>
        <a routerLink="tee-shirt-femme">tee-shirt</a>
        <a routerLink="pantalon-femme">pantalon</a>
      </div>
    </div>

    
  <div class="menu-deroulant">
 
   <span>Enfant</span>
      <div>
        <a routerLink="veste-enfant">veste</a>
        <a routerLink="pull-enfant">pull</a>
        <a routerLink="chemise-enfant">chemise</a>
        <a routerLink="tee-shirt-enfant">tee-shirt</a>
        <a routerLink="pantalon-enfant">pantalon</a>
      </div>
    </div>
 
  <div class="menu-deroulant">
    <span>Promotion</span>
    <div>
      <a routerLink="promotion-homme">Homme</a>
      <a routerLink="promotion-femme">Femme</a>
      <a routerLink="promotion-enfant">Enfant</a>
      </div>
  </div>
  <div>
  <app-connexion></app-connexion>
  

</div>

</div> 




   

