/* Style de base pour la barre de navigation */

  


  


  
.navbarhome {
	background-color: rgb(91, 149, 235); /* Couleur de fond de la barre de navigation */
	color: #fff; /* Couleur du texte */
	padding: 10px; /* Espace intérieur */
	margin: 0;
    /*border-radius: 30px; /*arrondir les bords* du padding */
  }
 
  
  
  /* Styles pour la liste non ordonnée (ul) dans la barre de navigation */
  div  {
	list-style: none; /* Supprime les puces de la liste */
    padding: 0;
    margin: 0;
    display: flex; /* Affiche les éléments en ligne */
    justify-content: center; /* Centre les éléments horizontalement */
 }
  
  /* Styles pour les liens (ancre) dans la barre de navigation */
 div,span  {
	font-size:large;
	text-decoration: none; /* Supprime le soulignement par défaut des liens */
	color: #fff; /* Couleur du texte des liens */
	margin: 0 60px; /* Marge entre les liens */
	font-weight: bold; /* Texte en gras */
	transition: color 0.2s; /* Transition de couleur lors du survol */
}
  
  /* Styles pour les liens au survol (hover) */
  div, a:hover {
	color:orange; /* Couleur différente au survol */
  }
  /* style du bouton */
.menu-deroulant  {
	
	color: white;
	padding: 16px;
	font-size: 16px;
  }
  
  /* On positionne (en relatif) le conteneur du menu déroulant 
	pour pouvoir positionner le contenu de la liste juste 
	en dessous du span */
  .menu-deroulant {
	position: relative;
	display: inline-block;
  }
  
  /* Contenu déroulant (caché par défaut) 
	 et positionné par rapport au conteneur */
  .menu-deroulant div {
	display: none; /* caché */
	position: absolute;
	border-radius: 15px;
	background-color: #f9f9f9; /* gris pale */
	min-width: 90px; 
	z-index: 2; /* en avant */
  }
  
  /* Les liens du menu déroulant */
  a {
	color: black;
	padding: 12px 16px;
	text-decoration: none; /* on enlève le surlignement */
	display: block; /* on les affiche */
  }
  
  /* Au survol du menu, on affiche le contenu déroulant (qui était caché) */
  .menu-deroulant:hover div  {
	display: block;
    color: orange;
}

/* navbar menu connexion */

.Menu-connexion-deroulant {
	font-size:large;
	text-decoration: none; /* Supprime le soulignement par défaut des liens */
	color: #fff; /* Couleur du texte des liens */
	margin: 0 40px; /* Marge entre les liens */
	font-weight: bold; /* Texte en gras */
	transition: color 0.2s; /* Transition de couleur lors du survol */
}

/* Styles pour les liens au survol (hover) */
div , a:hover {
	color:orange; /* Couleur différente au survol */
  }
  /* style du bouton */
.Menu-connexion-deroulant  {
	
	color: white;
	padding: 16px;
	font-size: 16px;
  }
  
  /* On positionne (en relatif) le conteneur du menu déroulant 
	pour pouvoir positionner le contenu de la liste juste 
	en dessous du span */
  .Menu-connexion-deroulant {
	position: relative;
	display: inline-block;
  }

  /* Contenu déroulant (caché par défaut) 
	 et positionné par rapport au conteneur */     
     .Menu-connexion div {
        display: none; /* caché */
        position: absolute;
        background-color:skyblue; /* bleu ciel*/
        border-radius: 15px;
        min-width: 80px; 
        z-index: 2; /* en avant */
      }
      
      /* Les liens du menu déroulant */
      .Menu-connexion-deroulant {
        
        color: white;
        padding: 12px 16px;
        text-decoration: none; /* on enlève le surlignement */
        display: block; /* on les affiche */
      }
      
      /* Au survol du menu, on affiche le contenu déroulant (qui était caché) */
      .Menu-connexion:hover div  {
        display: block;
        color: orange;
    }
  
