<nav>
    <ul>
        <a routerLink="home">Home</a><br>
        <a routerLink="categorie-homme">Catégorie homme</a><br>
        <a routerLink="categorie-femme">Catégorie femme</a><br>
        <a routerLink="categorie-enfant">Catégorie enfant</a><br>
        <a routerLink="article-promo">Articles Promotion</a>
      </ul>
   <!-- <ul>
        <form (ngSubmit)="inscrire()" #inscriptionForm="ngForm">
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" id="nom" name="nom" [(ngModel)]="client.nom" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" [(ngModel)]="client.email" required>
            </div>
            <div class="form-group">
              <label for="motDePasse">Mot de passe</label>
              <input type="password" id="motDePasse" name="motDePasse" [(ngModel)]="client.motDePasse" required>
            </div>
            <button type="submit" [disabled]="!inscriptionForm.valid">S'inscrire</button>
          </form>
    </ul>-->
</nav>
