/* styles.css */
.navbarhomme {
    background-color: rgb(91, 149, 235); /* Couleur de fond de la barre de navigation */
    padding: 30px;
    display: flex;
    justify-content: initial;
    
  }
  
  ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0;
    margin:0;
    display: flex; /* Affiche les éléments en ligne */
    justify-content: center; /* Centre les éléments horizontalement */
    }

    nav a {
      font-size:large;
      text-decoration: none; /* Supprime le soulignement par défaut des liens */
      color: #fff; /* Couleur du texte des liens */
      margin: 0 60px; /* Marge entre les liens */
      font-weight: bold; /* Texte en gras */
      transition: color 0.2s; /* Transition de couleur lors du survol */
      }
  
        /* Styles pour les liens au survol (hover) */
  nav a:hover {
    color:orange; /* Couleur différente au survol */
    }
    