/* Styles pour les liens au survol (hover) */
nav a:hover {
	color:orange; /* Couleur différente au survol */
    
}
nav a {

    color: #fff;
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    font-weight: bold; /* Texte en gras */
}


.navbarpagehome {
    padding:1px;                  /* Espace intérieur */
    background-color: rgb(91, 149, 235);
}