
  

  <body>
  <header>
    <div>
    <app-navbar></app-navbar> 
  </div>
  </header>
    
    <div class="content">
      
      <router-outlet></router-outlet><br>
    </div>
      
     <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      

    
    
</body>
<footer>
      
  <div class="app-navbar2">
    <app-navbar2></app-navbar2>
  </div>     

</footer>




   
     


