<h2>veste-enfant</h2>
<hr>
<div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets\images\enfant\veste\istockphoto-936276790-1024x1024.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="assets\images\enfant\veste\istockphoto-936276790-1024x1024.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="assets\images\enfant\veste\istockphoto-936276790-1024x1024.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="img_mountains.jpg">
      <img src="assets\images\enfant\veste\istockphoto-936276790-1024x1024.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  