<router-outlet></router-outlet>
<hr>
<h2>Home</h2> 
<hr>
<br>
<h3>Bienvenu sur notre site de vente en ligne pour Une Mode aussi écologique qu'éthique </h3> 
<br>

<div class="homepage">
    <p class="headerpage">
        On se démarque par notre travail éco-responsable, nous n'utilisons que de la matière première recyclée. <br>
        <br>
        Nous voulons continuer à montrer l'exemple, car nous sommes convaincus que c'est possible de réaliser de beaux vêtements avec le système de recyclage.
    </p> 
    <br>
         
        <ng-container class="image1" >
        <img src="assets\images\home\istockphoto-1158395477-1024x1024.jpg" alt="">
        </ng-container> 
    

</div>




